{% extends "login_layout.html" %}
{% load static %}

{% block title %} GEFODI - Mot de passe oublié{% endblock %}
{% block content %}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container">
        <div class="row flex-center min-vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4"><a class="d-flex flex-center text-decoration-none mb-4"
                    href="{% url 'login' %}">
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                            src="{% static 'images/icons/logo-gefodi.png' %}" alt="gefodi" width="150" />
                    </div>
                </a>
                <div class="px-xxl-5">
                    <div class="text-center mb-6">
                        <h4 class="text-body-highlight">Mot de passe oublié?</h4>
                        <p class="text-body-tertiary mb-5">Entrez votre email ci-dessous et nous vous enverrons <br
                                class="d-sm-none" />un lien de réinitialisation</p>
                        <form method="post" class="d-flex align-items-center mb-5 needs-validation" novalidate>
                            {% csrf_token %}
                            {{form.email}}
                            <button class="btn btn-primary ms-2" id="btn" disabled>Envoyer<span
                                    class="fas fa-chevron-right ms-2"></span></button>

                            <div id="recaptcha"></div>

                        </form>
                        <a class="fs-9 fw-bold" href="#!">Vous avez toujours des problèmes ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

{% endblock content %}

{% block javascript %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_public_key }}"></script>
<script> var recaptcha_public_key = "{{ recaptcha_public_key }}"; </script>
<script src="{% static 'js/recaptcha.js' %}"></script>

<script>
    // Enable/disable the button based on form field content
    $(document).ready(function () {
        $('input, select').on('input', function () {
            var formIsEmpty = $('form').find('input, select').filter(function () {
                return $.trim(this.value) === '';
            }).length > 0;

            // Enable/disable the button based on conditions
            $('#btn').prop('disabled', formIsEmpty);
        });

        // Handle initial state on page load
        $(window).on('load', function () {
            // Trigger input event to check the initial state
            $('input, select').trigger('input');
        });
    });
</script>

{% endblock javascript %}