{% extends "login_layout.html" %}
{% load static %}

{% block content %}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container">
        <div class="row flex-center min-vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a
                    class="d-flex flex-center text-decoration-none mb-4" href="{% url 'home' %}">
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                            src="{% static 'images/icons/logo-gefodi.png' %}" alt="gefodi" width="150" />
                    </div>
                </a>
                <div class="text-center mb-6">
                    <h4 class="text-body-highlight">Réinitialiser votre mot de passe</h4>
                    <p class="text-body-tertiary">Tapez votre nouveau mot de passe</p>

                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        {% if 'success' in message.tags %}
                        <div class="alert alert-success text-justify" role="alert"><span
                                class="far fa-check-circle form-icon fs-12"></span> {{ message|safe }}</div>
                        {% elif 'error' in message.tags %}
                        <div class="alert alert-warning text-justify" role="alert"><span
                                class="fab fa-adobe form-icon fs-12"></span> {{ message.message|safe }}</div>
                        {% else %}
                        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message|safe }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="post" class="needs-validation mt-5" novalidate>
                        {% csrf_token %}

                        {{ form.new_password1 }}
                        {% if form.errors.new_password2 %}
                        {% for error in form.errors.new_password2 %}
                        <div class="text-justify" style="color: #ec1f00; font-size: 12px;">
                            <span class="fab fa-adobe form-icon fs-12"></span>
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="invalid-feedback text-justify"><span class="fab fa-adobe form-icon fs-14"></span> Le
                            mot de
                            passe doit contenir 8 caractères minimum, au moins une
                            lettre majuscule, une lettre minuscule, un chiffre, un caractère spécial (
                            @, #, $ etc.).</div>

                        {{ form.new_password2 }}
                        {% if form.errors.new_password2 %}
                        {% for error in form.errors.new_password2 %}
                        <div class="text-justify" style="color: #ec1f00; font-size: 12px;">
                            <span class="fab fa-adobe form-icon fs-12"></span>
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div id="passwordError" class="text-justify" style="color: #ec1f00; font-size: 12px;"></div>

                        <button class="btn btn-primary w-100" type="submit" id="resetpwd-btn" disabled>Définir le mot de
                            passe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

</html>

{% endblock %}


{% block javascript %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
    // Enable/disable the button based on form field content
    $(document).ready(function () {
        $('input, select').on('input', function () {
            var formIsEmpty = $('form').find('input, select').filter(function () {
                return $.trim(this.value) === '';
            }).length > 0;

            // Enable/disable the button based on conditions
            $('#resetpwd-btn').prop('disabled', formIsEmpty);
        });

        // Handle initial state on page load
        $(window).on('load', function () {
            // Trigger input event to check the initial state
            $('input, select').trigger('input');
        });
    });
</script>

<script>
    $('#confirm_new_password').on('input', function () {
        var password = $('#new_password').val();
        var confirmPassword = $(this).val();

        if (password !== confirmPassword) {
            $('#passwordError').html(
                '<span class="fab fa-adobe form-icon fs-12"></span> Les mots de passe ne correspondent pas.'
            );
            $('#resetpwd-btn').attr("disabled", true);
        } else {
            $('#passwordError').text('');
            $('#resetpwd-btn').attr("disabled", false);
        }
    });
</script>

{% endblock javascript %}